.Joke-3000 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Welcome {
  color: red;
}

.Jokebutton {
  width: 200px;
  height: 50px;
  font-size: 30px;
  cursor: pointer;
}

.JokeBox {
  font-size: 25px;
  padding: 10px;
  border: 5px solid black;
}
